<div class="card shadow">
    <div class="card-header">
        <h4>
            Báo cáo doanh thu
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tháng</th>
                <th>Tổng số đơn hàng</th>
                <th>Doanh thu</th>
            </tr>
            </thead>
            <tbody>
            {{#each revenueByMonth}}
                <tr>
                    <td>
                        {{_id.month}}/{{_id.year}}
                    </td>
                    <td>
                        {{orders}}
                    </td>
                    <td>
                        {{formatCurrency revenue}} VND
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>