<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form action="/login" method="POST" class="col-lg-3 col-md-4 col-10 mx-auto text-center">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
              <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 	" />
              </g>
            </svg>
            </a>
            <h1 class="h6 mb-3">Đăng nhập</h1>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Địa chỉ Email</label>
                <input type="email"
                       id="inputEmail"
                       name="email"
                       class="form-control form-control-lg"
                       placeholder="Địa chỉ Email"
                       required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Mật khẩu</label>
                <input type="password"
                       id="inputPassword"
                       name="password"
                       class="form-control form-control-lg"
                       placeholder="Mật khẩu"
                       required>
            </div>
            <div class="text-right mb-3">
                <a href="/login/forgot-password">
                    Quên mật khẩu?
                </a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
            <a href="/register" class="btn btn-outline-primary btn-block mt-2">
                Tạo tài khoản mới
            </a>
        </form>
    </div>
</div>